html {
    box-sizing: border-box;
    font-size: .625em;
    /* fallback IE8+ */
    font-size: calc(1em * .625);
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

* {
    box-sizing: inherit;
}

body {
    font-size: 1.4em;
    /* base font-size is equivalent "14px" */
}


/* LICENCE */

#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}