* {

    box-sizing: border-box;
}

html, body {
    height: 100%;
}
html {

    font-size: 16px;
}
body {
    max-width: 30em;

    font-family: sans-serif;
    margin: 0 auto;

}
h1 {
    padding: 1em 2em;
    font-weight: normal;
    text-align: center;
}



input {
    font-style: italic;

}

form {
    display: flex;
    align-items: center;
    flex: 1;
flex-direction:column;

button {
    display: inline-block;
    font-size: 1em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    background: transparent;
    opacity: 0;





input {
    flex: 1;
    font-size: 1.25rem;
    border: none;
    outline: none;
    padding: 0.5rem 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    border-left: 1px solid rgba(red, 0.25);
}


input:focus~button, button:focus, button:hover {
    opacity: 1;
}
