html {
    background-image: url(../img/fond.png);
    font-size: 1em;
    font-family: 'Verdana';
    color: #7B7B79;
}

body {
    max-width: 750px;
    margin: 0 auto;
    background-color: white;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #B8CB21;
    font-family: 'Oswald', sans-serif;
    padding-left: 0.3em;
}

.clear {
    clear: both;
}

.left {
    float: left;
    height: 100px;
    width: 200px;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
}

nav {
    float: right;
    padding-top: 3em;
    background-color: #B8CB21;
    text-align: right
}

.menu {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #2E4825;
    margin-right: 2.5em;
    font-size: 1.2em;
}

header {
    background-color: #B8CB21;
}

.button {
    background-color: #B8CB21;
    border: none;
    color: white;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 0.4em;
}

footer {
    text-align: center;
    background-image: url(../img/fond.png);
}

.footer {
    padding-top: 1.5em;
}

article {
    padding: 0.70em;
}