/* LICENCE */

#licence {
    display: block;
    text-align: center;
    padding: 25px;
}

#licence img {
    width: 50px;
}

body {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
    color: #979998;
    background-image: url('../img/fond.png');
    background-repeat: repeat;
    width: 100%;
    margin: auto;
    line-height: 1.4em;
}

header {
    text-align: center;
}

header>img {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

header>nav {
    display: inline-block;
    vertical-align: middle;
    padding: 1em 0 1em 10em;
}

header>nav>ul>li {
    display: inline-block;
    list-style: none;
    padding: 0 5em 0 0;
    font-size: 1.2rem;
    text-align: center;
}

header>nav>ul>li>a {
    color: #979998;
    text-decoration: none;
    display: block;
    padding: 1px;
}

nav .fa:hover {
    font-size: 3em;
}

header .fa {
    display: block;
    -webkit-transition-property: font-size;
    transition-property: font-size;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

header>div {
    text-align: center;
    background-image: url(../img/bg_header.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    height: 35rem;
}

header>div>h1 {
    padding-top: 10%;
}

header p {
    text-align: center;
    padding-bottom: 3%;
}

.name {
    font-size: 2.3rem;
    color: #979998;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
}

.bouton {
    border-radius: 6px;
    color: #ffffff;
    font-size: 1rem;
    background: #F90A5B;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.bouton:hover {
    background: #fc3c46;
    text-decoration: none;
}

main {
    max-width: 1100px;
    margin: auto;
}

.title {
    color: #F90A5B;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: start;
    align-content: flex-start;
}

h3 {
    color: #979998;
    font-size: 1.3rem;
    text-align: center;
}

span {
    font-size: 0.9em;
    font-weight: 400;
}

.realisation {
    width: 30%;
    text-align: center;
}

.realisation>a>i {
    font-size: 2rem;
    border: 1px solid #979998;
    border-radius: 50%;
    color: #979998;
    width: 50px;
    height: 50px;
    background: #EEF1F0;
    padding: 32px 32px;
}

.pink {
    color: #F90A5B;
}

.right {
    float: right;
    padding: 0 0 1em 1em;
}

.left {
    float: left;
    padding: 0 1em 1em 0;
}

section>article>div>img {
    width: 45%;
    height: auto;
}

section>article>div>p {
    text-align: justify;
}

.savoir {
    color: #F90A5B;
    text-decoration: none;
    padding: 0 0 0 1em;
    display: block;
    width: 8em;
    height: auto;
}

.savoir:hover {
    background-color: #F90A5B;
    color: white;
}

h4 {
    color: #f90a5b;
}

form {
    text-align: center;
}

input {
    height: 40px;
    width: 45%;
    border-radius: 20px;
    outline: none;
    border: 1px solid #CFD0D2;
    color: #979998;
}

textarea {
    border-radius: 20px;
    border: 1px solid #CFD0D2;
    height: 40px;
    margin-top: 2em;
    width: 90%;
    outline: none;
    color: #979998;
}

.message {
    background-color: white;
    background-image: url('../img/bg_form_message.svg');
    background-position: 10px 0;
    background-repeat: no-repeat;
    padding-left: 60px;
}

.prenom {
    background-color: white;
    background-image: url('../img/bg_form_name.svg');
    background-position: 10px 0;
    background-repeat: no-repeat;
    padding-left: 60px;
}

.mail {
    background-color: white;
    background-image: url('../img/bg_form_mail.svg');
    background-position: 10px 0;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type=button] {
    background-color: #f90a5b;
    border: none;
    color: white;
    padding: 10px 8px;
    cursor: pointer;
    text-align: center;
    width: 5em;
    margin-top: 2em;
}

#pacman {
    width: 0px;
    height: 0px;
    border-right: 60px solid transparent;
    border-top: 60px solid red;
    border-left: 60px solid red;
    border-bottom: 60px solid red;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

@media print,
screen and (max-width:640px) {
    body {
        width: 100%;
        margin: auto;
    }
    header>div {
        background-size: 100%;
        height: 100%;
    }
    main {
        width: 100%;
        margin: auto;
    }
    header>nav {
        padding: 0;
    }
    .realisation {
        width: 100%;
    }
    .competence {
        width: 100%;
    }
    .flex {
        text-align: center;
    }
    .name {
        display: block;
    }
    .mail {
        margin-top: 2rem;
    }
}